{% extends 'layout.html' %}

{% block body %}
	<section id="sec1">
		<div>
			<img src="../../static/img/document.png" alt="">
		</div>
		
		<div id="pdiv">
			<h1>Ijot</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aperiam provident suscipit neque! Consequuntur soluta ducimus veniam! Commodi, labore dolores exercitationem repellendus ipsa praesentium rem pariatur dolorum veritatis temporibus nesciunt fuga eaque debitis consequuntur, nemo suscipit eum officiis natus? Pariatur delectus provident quos natus incidunt odio corrupti quas libero non. Sapiente cumque ipsum nisi iste praesentium. Voluptatibus dignissimos praesentium ut, tempore consequatur beatae delectus suscipit enim veritatis, magnam at quos consequuntur molestias laborum, saepe adipisci numquam blanditiis deleniti. Sed odit quia voluptatem corrupti reprehenderit, repudiandae nulla aspernatur aliquam facilis quidem ex obcaecati a possimus nemo animi adipisci, quibusdam, quam quisquam.</p>
			<br>
			<a href="{{url_for('site.signup')}}" id="mnote"><button>Make a Note now</button></a>
		</div>
	</section>

{% endblock %}

